<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IQCareConnectionString"
            connectionString="Data Source=.\sqlexpress_2014;Initial Catalog=IQCare;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>